.app-container {
  background-color: #E8D9C9;
  font-family: 'Didact Gothic'; 
  color: #495A4C; 
}

.rounded-container {
  background-color: #FFEFDD;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin-top: 1.2%;
}

/* menu bar */ 
.navbar {
  background-color: #9AAC9D;
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 3;
}

.navbar-brand {
  font-family: 'Kaushan Script', serif;
  font-weight: bold;
}

.justify-content-end {
  margin-left: auto;
}

.menu-link {
  font-size: 110%;
}

/* home page */
.home {
  margin-top: 3.5%;
  padding-top: 6%;
  padding-bottom: 6%;
  justify-content: center;
  position: relative;
}

.name {
  font-weight: bold;
}

.role-description {
  margin-top: 2%;
}

.arrow-icon {
  position: absolute;
  bottom: -4%;
  color: #495A4C;
  font-size: 160%;
}

.arrow-icon:hover {
  color: #9AAC9D;
}

/* contact icons */ 
.contact-icons {
  margin-top: 2%;
}

.icon {
  color: #495A4C;
  padding: 1%;
  font-size: 170%;
}

.icon:hover {
  color: #9AAC9D;
}

/* about section */ 
.about {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 60%;
}

.about-picture {
  width: 25%;
}

.about-heading {
  font-weight: bold;
}

.about-text {
  text-align: left;
  margin-left: 3%;
  width: 75%;
}

.about-p {
  font-size: 120%;
}

/* skills section */ 
.skills-heading {
  font-weight: bold;
}

.languages-container, .libraries-frameworks-container {
  display: flex;
  margin-top: 3%;
}

.languages-label, .libraries-frameworks-label {
  margin-left: 2%;
  margin-right: 14%;
  width: 10%;
}

.language-icon, .library-framework-icon {
  width: 40px;
}

.skillbar-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.skill {
  justify-content: center;
  display: flex; 
  flex-wrap: wrap; 
  flex-basis: 50%;
  margin-bottom: 5%;
  align-items: center;
}

.skill-label {
  font-size: 110%;
}

.skill-percentage {
  margin-left: 5%; 
  width: 70%;
}

.skill-percentage .progress-bar {
  background-color: #9AAC9D;
}

/* projects section */ 
.projects-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-heading {
  font-weight: bold;
}

.project {
  display: flex;
  background-color: #9AAC9D;
  border-radius: 15px;
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2%;
}

.project-card-image {
  width: 50%;
  padding: 1%;
}

.project-image {
  width: 100%;
}

.project-content {
  margin-left: 2%;
  text-align: left;
  padding: 1%;
  width: 75%;
  position: relative;
}

.project-name {
  font-weight: bold;
}

.project-description {
  font-size: 115%;
}

.project-date {
  text-align: right;
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 2%;
  font-size: 110%;
}

/* work experience */ 
.work-header {
  font-weight: bold;
}

.company-image {
  width: 45%;
}

.timeline-container {
  margin-top: 4%;
  position: relative;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.title-date-section {
  width: 15%;
  text-align: left;
  margin-left: 10%;
}

.date, .experience-description {
  font-size: 110%;
}

.experience-image-section {
  width: 10%;
  z-index: 2;
}

.timeline {
  border-left: 1px solid #495A4C;
  height: 30%;
  position: absolute;
  left: 29%;
  z-index: 1;
}

.company-description-section {
  width: 65%;
  text-align: left;
  margin-right: 5%;
}

/* contact section */ 
.contact-header {
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2%;
}

.input-field {
  background-color: #E8D9C9;
  border: none;
  font-size: 120%;
}

.email-info {
  width: 25%;
  margin-left: 18%;
}

.email-message {
  width: 40%;
  margin: 0 auto;
  margin-left: 5%;
  flex-direction: column;
  position: relative;
}

.message-field {
  height: 152px;
  width: 100%;
  text-indent: 2%;
  resize: none;
  border: none;
  border-radius: 10px;
}

.email-send-btn {
  background-color: #9AAC9D;
  border: none;
  align-self: flex-end;
  margin-top: auto;
  margin-left: 86%;
}

.email-send-btn:hover {
  background-color: #495A4C;
}

.footer {
  margin-left: 1%;
  display: flex;
}

.copyright-image {
  color: #495A4C; 
}

.footer-text {
  margin-left: 1%;
  margin-top: 0.5%;
  font-size: 120%;
}