.app-container {
  background-color: #E8D9C9;
  font-family: 'Didact Gothic'; 
  color: #495A4C; 
}

.rounded-container {
  background-color: #FFEFDD;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

/* menu bar */ 
.navbar {
  background-color: #9AAC9D;
  padding-right: 0; 
  margin-right: 0;
}

.navbar-brand {
  font-family: 'Kaushan Script', serif;
  font-weight: bold;
}

.justify-content-end {
  margin-left: auto;
}

/* home page */
.home {
  padding-top: 50px;
  margin-bottom: 10px;
}

.arrow-icon {
  position: relative;
  justify-content: center;
  display: flex;
  left: 0;
  right: 0;
  top: 30px;
  color: #495A4C;
}

/* contact icons */ 
.contact-icons {
  margin-top: 20px;
}

.icon {
  color: #495A4C;
  padding: 10px;
  font-size: 20px;
}
